/* stylelint-disable custom-property-pattern */

/* Ingore stylelint warning: Expected ""tailwindcss"" to be "url("tailwindcss")" (import-notation) */
@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url("./Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  --z-index: 999;
  --font-inter: "Inter", system-ui, sans-serif;
  --fg-primary: var(--color-gray-700);
  --fg-secondary: var(--color-gray-900);
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-gray-200);
  --btn--fg-ghost: var(--color-gray-400);
  --btn--fg-filled: var(--color-white);
  --btn--fg-outlined: var(--color-gray-700);
  --btn--bg-ghost: transparent;
  --btn--bg-filled: var(--color-teal-700);
  --btn--bg-outlined: var(--color-white);
  --btn--p-sm: calc(var(--spacing) * 2);
  --btn--p-base: calc(var(--spacing) * 3);
  --btn--p-md: calc(var(--spacing) * 6);
  --btn--radius: var(--radius-sm);
  --color--border: var(--color-gray-300);
  --color--btn--border: var(--color-gray-300);
  --btn--border--style: solid;
  --btn--border--width: calc(var(--spacing) / 4);
  --tag--p-sm: calc(var(--spacing) * 1);
  --tag--p-base: calc(var(--spacing) * 3);
  --tag--bg: var(--color-gray-200);
  --tag--bg-selected: var(--color-gray-800);
  --tag--fg-selected: var(--color-white);
  --tag--fg: var(--color-gray-700);
  --tag--radius: var(--radius-sm);
}

@layer base {
  * {
    list-style: none;
  }

  body {
    background-color: var(--bg-primary);
    color: var(--fg-primary);
    font-family: var(--font-inter);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }

  h1,
  .h1 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-3xl--line-height);
    font-size: var(--text-3xl);
  }

  h2,
  .h2 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-2xl--line-height);
    font-size: var(--text-2xl);
  }

  h3,
  .h3 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-xl--line-height);
    font-size: var(--text-xl);
  }

  h4,
  .h4 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-lg--line-height);
    font-size: var(--text-lg);
  }

  h5,
  .h5 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-md--line-height);
    font-size: var(--text-md);
  }

  h6,
  .h6 {
    font-weight: var(--font-weight-semibold);
    color: var(--fg-secondary);
    line-height: var(--text-base--line-height);
    font-size: var(--text-base);
  }

  p {
    line-height: calc(var(--spacing) * 7);
  }
}

@utility container-* {
  margin-inline: auto;
  width: --value(--container-*);
  padding-inline: calc(var(--spacing) * 4);
}

@layer components {
  .page-loader {
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background-color: rgba(0, 0, 0, 40%); /* затемнение фона */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--z-index); /* поверх всего */
  }

  /* Собственно лоадер (пульсирующая полоска) */
  .page-loader__spinner {
    width: 80px;
    height: 80px;
    border: 8px solid rgba(255, 255, 255, 30%);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .page-loader[data-visible="false"] {
    display: none;
  }

  /* Анимация вращения */
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .nav__item {
    display: flex;
    padding: calc(var(--spacing) * 2);
    gap: calc(var(--spacing) * 4);
    align-items: center;
    color: var(--color-gray-500);
  }

  .nav__item-svg,
  .nav__item svg {
    color: var(--color-gray-400);
  }

  .btn {
    border-radius: var(--btn--radius);
    transition:
      transform 120ms ease,
      box-shadow 120ms ease;
  }

  .btn:active {
    transform: translateY(1px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 15%);
  }

  .btn--size-sm {
    padding: var(--btn--p-sm);
  }

  .btn--size-md {
    padding: var(--btn--p-base) var(--btn--p-md);
  }

  .btn--border {
    border-width: var(--btn--border--width);
    border-style: var(--btn--border--style);
  }

  .btn--border-outlined {
    border-color: var(--color--btn--border);
  }

  .btn-filled {
    background-color: var(--btn--bg-filled);
    color: var(--btn--fg-filled);
  }

  .btn-outlined {
    background-color: var(--btn--bg-outlined);
    color: var(--btn--fg-outlined);
  }

  .btn-ghost {
    background-color: transparent;
    color: var(--btn--fg-ghost);
  }

  .tag {
    border-radius: var(--tag--radius);
    color: var(--tag--fg);
    background-color: var(--tag--bg);
    padding: var(--tag--p-sm) var(--tag--p-base);
  }

  .tag[data-selected="true"] {
    color: var(--tag--fg-selected);
    background-color: var(--tag--bg-selected);
  }
}
